# Password for postgres user
POSTGRES_PASSWORD=YourStrongPassword

# PMM Server
PMM_SERVER_IP=pmm-server-ip:443
PMM_SERVER_USER=admin
PMM_SERVER_PASSWORD=YourStrongPassword

# S3 Repository for backup
S3_BUCKET=postgres
S3_ENDPOINT=s3.example.com
S3_REGION=us-east-1

S3_ACCESS_KEY=xxxxxxxxxxxxxxxx
S3_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

S3_VERIFY_TLS=y

PGBACKREST_RETENTION_FULL=14
PGBACKREST_RETENTION_ARCHIVE=14
PGBACKREST_PROCESS_MAX=2
PGBACKREST_COMPRESS_LEVEL=3
